body{
  font-family: 'Open Sans', Sans-serif;
}


.row{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

#films{
  text-align: center;
}

.w3-content{
  max-width: 600px;
  max-height: 400px;
  padding-top: 20px;
}

.first_right{
  padding-top: 20px;
  text-align: center;
}

.festival, .films, .register{
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 20px;
  text-decoration: underline overline;
}
.social_1{
  padding-top: 50px;
}
.trailer_text{
  padding-top: 10%;
}

/* Main Video*/
.cover-container {
  position: relative;
  min-height: 300px;
}
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  max-width: 600px;

 
}

/* Style Main Video */
.text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  min-width: 100%; 
  min-height: 100%;
  max-width: 600px;
}

  
#head{
  font-family: 'Changa One', sans-serif;
  letter-spacing: 15px;
  font-size: 45px;
  text-decoration: underline overline;
  text-transform: uppercase;
  animation-en;
}



/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

    /* custom primary buttons */
    
    .btn-primary {
        
        background-color: #ff5353;
        border-color: #ff5353
    }
    
    .btn-primary:hover {
        
        background-color: #dd3131;
        border-color: #dd3131
    }
    
    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: 0 0 0 .2rem rgba(145, 32, 32, 0.5)
    }
    
    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #212529;
        background-color: #dd3131;
        border-color: #dd3131
    }
    
    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        color: #ffffff;
        background-color: #dd3131;
        border-color: #dd3131
    }
    
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(145, 32, 32, 0.5)
    }

    .btn-primary:active:focus {
  color: #ffffff; 
  background-color: #161617; 
  border-color: #494F57;
}


    .btn-default:hover {
        
        background-color: #dd3131;
        border-color: #dd3131
    }
      .b {

      	text-align: center;

      }
    .socialnav{
      padding-right: 5px;
      padding-left: 5px;
    }

/* Pulse-Button */

.button {
  width: 200px;
  height: 100%;
color: #ffffff;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  background: #fff;
}
.pulse-button {

  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  text-decoration-color: #0e0e0c;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

h4{
  font-family: verdana;
  padding-top: 39px;
  padding-left: 18px;
}

      /* NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


.dimension {
  position: relative;
transition-duration: 1s;
-ms-transition-duration: 1s;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
transition-property: transform;
-ms-transition-property: -ms-transform;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
overflow:hidden;
} 
.dimension:hover {
-ms-transform: scale(2,2);
-webkit-transform: scale(2,2);
-moz-transform: scale(2,2);
-o-transform: scale(2,2);
position: relative;
}


#video1{
  max-width: 600px;
  max-height: 400px;
}

#pre-register{
  padding-bottom: 30px;
}

/* Footer */

.socialFooter{
  text-align: right;
}

#footer{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Media query */

@media only screen and (min-width: 640px) {
  #head2, #head3{
    padding-top: 20px;
    font-size: 1.5rem;
  }
  .socialFooter{
  text-align: center;
}
}
@media only screen and (min-width: 351px){

  #head2, #head3{
    padding-top: 20px;
    font-size: 0px;
  }
    .socialFooter{
  text-align: center;
}
}

@media only screen and (max-device-width:350px){

  #head2, #head3{
    padding-top: 20px;
    font-size: 0px;
  }
    .socialFooter{
  text-align: center;
}
}









